<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find my_slider)/urdf/slider.xacro'" />
    
    <!-- 掛入自製的控制器給 controller manager 管理 -->
    <node name="slider_control" pkg="my_slider" type="slider_control" output="screen">
    </node>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find my_slider)/config/slider_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/slider" args="joint_state_controller
					  joint1_position_controller slider_control" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/slider/joint_states" />
  </node>
  

</launch>
